<!-- Generated template for the ContentDrawerComponent component -->
<ion-header>
  <ion-toolbar>
    <ion-searchbar #searchBar [formControl]="searchControl" [showCancelButton]="shouldShowCancel" (ionClear)="onClearSearch(event)"
      (ionCancel)="onCancelSearch($event)" (ionFocus)="onFocus($event)" (ionBlur)="onBlur($event)" animated="true" [placeholder]="placeholder"
      [cancelButtonText]="cancelButtonText" (ionInput)="onSearchInput()" type="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ng-content></ng-content>
</ion-content>